<ion-header [translucent]="true" collapse="fade">
  <ion-toolbar color="light">
    <ion-title size="large">
      Meet
    </ion-title>
    <ion-buttons slot="end">
      <!-- <ion-button slot="end" fill="clear" color="dark">
        <ion-icon size="large" name="heart-outline"></ion-icon>
      </ion-button> -->
      <ion-button slot="end" fill="clear" color="dark" (click)="search()">
        <ion-icon size="large" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
