<ion-header [translucent]="true" collapse="fade">
  <ion-toolbar color="light">
    <ion-title size="large">
      Online Members
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid fixed="true">
    <ion-row>
      <ion-col size="3">

        <ion-icon color="success" size="" style="position: absolute; bottom: 8px; right: 28px;" name="ellipse">
        </ion-icon>

        <ion-avatar>

          <img src="https://lh3.googleusercontent.com/a-/AOh14Ggc0FcIzkiN2KJr3iTS6zdp0rHKCcW-r4i6zh08=s96-c">

        </ion-avatar>
      </ion-col>
      <ion-col size="3">
        <ion-icon color="success" size="" style="position: absolute; bottom: 8px; right: 28px;" name="ellipse">
        </ion-icon>
        <ion-avatar>
          <img src="https://www.globallove.online/images/624b200a6e459.png">
        </ion-avatar>
      </ion-col>
      <ion-col size="3">
        <ion-icon color="success" size="" style="position: absolute; bottom: 8px; right: 28px;" name="ellipse">
        </ion-icon>
        <ion-avatar>
          <img src="https://www.globallove.online/images/61ab8634ec6cb.png">
        </ion-avatar>
      </ion-col>
      <ion-col size="3">
        <ion-icon color="success" size="" style="position: absolute; bottom: 8px; right: 28px;" name="ellipse">
        </ion-icon>
        <ion-avatar>
          <img src="https://www.globallove.online/images/61152d60f36b6.png">
        </ion-avatar>
      </ion-col>
      <ion-col size="3">
        <ion-icon color="success" size="" style="position: absolute; bottom: 8px; right: 28px;" name="ellipse">
        </ion-icon>
        <ion-avatar>
          <img src="https://www.globallove.online/images/6231fae0cce3e.png">
        </ion-avatar>
      </ion-col>
      <ion-col size="3">
        <ion-icon color="success" size="" style="position: absolute; bottom: 8px; right: 28px;" name="ellipse">
        </ion-icon>
        <ion-avatar>
          <img src="https://www.globallove.online/images/6235eb3a30f7b.png">
        </ion-avatar>
      </ion-col>
      <ion-col size="3">
        <ion-icon color="success" size="" style="position: absolute; bottom: 8px; right: 28px;" name="ellipse">
        </ion-icon>
        <ion-avatar>
          <img src="https://lh3.googleusercontent.com/a/AATXAJxUgPfKOxFhucQWcYO4PElluRofd5LdfqRZHWDa=s96-c">
        </ion-avatar>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
